<!DOCTYPE html>
<html lang="zh">
    <%- include('head', {title: title, css: css}); %>
    <body>
		<div id="background">
			<iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/X-dMOvEOQiM?autoplay=1&controls=0&enablejsapi=1&fs=0&rel=0&showinfo=0&color=white&loop=1&disablekb=1&mute=1" frameborder="0" allowfullscreen></iframe>
		</div>
		<div id="main">
			<h1 id="Title">Call For Music</h1>
			<h2 id="Sub">A New Style Music Game</h2>
				<a class="button" href="/register">
			<span>Register</span>
				</a>
				or
				<a class="button" href="/login">
				<span>Login</span>
				</a>
			<br>
			<div id="toggle-down">
				<i class="fa fa-angle-double-down" aria-hidden="true"></i>
			</div>
		</div>
    </body>
</html>
