doctype html
html
  head
    title= title
    meta(name='viewport',content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css')
    block stylesheets
  body
    block content
