<!DOCTYPE HTML>
<html lang="zh">
    <%- include('head', {title: title, css:css}); %>
    <body>
        <div class="container-fluid py-3 mt-5" style="min-height:100vh;">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <div class="card border-success bg-light">
                        <div class="bg-white text-success card-header text-center">
                            登入 / <a href="/register">註冊</a> Call For Music
                        </div>
                        <div class="card-body">
                            <% if(typeof errMsg != "undefined"){ %>
                                <div class="alert alert-danger" role="alert">
                                    <%= errMsg %>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                            <% } %>
                            <form action="/login" method="POST">
                                <div class="form-group">
                                    <label for="username">帳號：</label>
                                    <input class="form-control input-lg" id="username" type="text" name="username" placeholder="請輸入帳號" />
                                </div>
                                <div class="form-group">
                                    <label for="password">密碼：</label>
                                    <input class="form-control input-lg" id="password" type="password" name="password" placeholder="請輸入密碼" />
                                </div>
                                <div class="form-group">
                                    <div id="reCAPTCHA" class="col-sm-12"></div>
                                </div>
                                <input id="submit" class="btn btn-success btn-large btn-block" disabled type="submit" value="Login">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/popper.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/login.js"></script>
        <script src='https://www.google.com/recaptcha/api.js?onload=render_recaptcha&render=explicit' async defer></script>
    </body>
</html>