<!DOCTYPE html>
<html lang="zh">
	<%- include('head', {title: title, css:css}); %>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img src="/images/favicon/apple-icon.png" width="35" height="35" class="d-inline-block align-top" alt="">
                Call For Music
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="/game">Game</a>
                    <a class="nav-item nav-link" href="/history">History</a>
                    <a class="nav-item nav-link active" href="/setting">Setting<span class="sr-only">(current)</span></a>
                </div>
                <div class="navbar-nav">
                    <a href="/profile/<%= user.username %>" class="nav-item nav-link mr-3">
                        <img height="40" class="rounded-circle mr-2" src="/profile_images/<%= user.icon %>" >   
                        <%= user.username %>
                    </a>
                </div>
                <a href="/logout" role="button" class="nav-item btn btn-outline-warning">Logout</a>
            </div>
        </nav>
        <div class="container">
            <div></div>
        </div>
        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/popper.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
    </body>
</html>
