<!DOCTYPE HTML>
<html lang="zh">
    <%- include('../head', {title: title, css: css}); %>
    <body>
        <div id="background">
            <iframe width="720" height="405" id="ytplayer" src="https://www.youtube.com/embed/<%= video_id %>?autoplay=1&amp;controls=0&amp;enablejsapi=1&amp;fs=0&amp;rel=0&amp;showinfo=0&amp;color=white&amp;disablekb=1" frameborder="0" allowfullscreen="" type="text/html"></iframe>
        </div>
        <div id="playground">
            <div id="falling">
                <div id="beat_bar"></div>
            </div>
        </div>
        <div id="msg" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                    </div>
                    <div class="modal-body" style="text-align:center;"></div>
                </div>
            </div>
        </div>
        <script>var username = "<%= username %>";</script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/popper.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/gameplay/play.js"></script>
    </body>
</html>
