<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>Train</title>
    <style>
        * {
            margin: 0;
        }
        .cool {
            display: inline-block;
            width: calc( (100vw - 100px) / 256);
            border-top-width: 5px;
            border-top-color: black;
            border-top-style: solid;
        }
    </style>
</head>

<body>
    <div id="pg">
        <input type="file" id="upload">
        <button id="start">Start!</button>
        <select id="choice">
            <option value="1">On beat</option>
            <option value="0">Off beat</option>
        </select>
    </div>
    <br>
    <div id="plot">
        <div style="height: 550px;">
            <div class='cool' v-for="data in time_domain" v-bind:style="{ height: `${data * 2}px` }"></div>
        </div>
    </div>
    <script src="/javascripts/vue.js"></script>
    <script>
        const FFT_SIZE = 256;
        let vm = new Vue({
            el: '#plot',
            data: {
                time_domain: new Uint8Array(FFT_SIZE),
                hit: false
            }
        });
        document.getElementById('start').addEventListener('click', () => {
            let reader = new FileReader();
            reader.onload = async(e) => {
                document.getElementById("pg").style.display = "none";
                const audioCtx = new(window.AudioContext || window.webkitAudioContext)();
                let source = audioCtx.createBufferSource();
                source.buffer = await audioCtx.decodeAudioData(e.target.result);
                let analyser = audioCtx.createAnalyser();
                analyser.fftSize = FFT_SIZE;
                source.connect(analyser);
                analyser.connect(audioCtx.destination);
                source.start();

                function process_fft_data(timer) {
                    analyser.getByteTimeDomainData(vm.time_domain);
                    vm.$forceUpdate();
                    requestAnimationFrame(process_fft_data);
                }
                requestAnimationFrame(process_fft_data);
            };
            reader.readAsArrayBuffer(document.getElementById('upload').files[0]);
        });
    </script>
</body>

</html>