#imgUpload {
    display: inline-block;
    height: 180px;
    width: 180px;
    background-size: 180px;
    cursor: pointer;
    line-height: 180px;
    color: transparent;
    user-select: none;
}

#imgUpload:hover {
    color: white;
}