<!DOCTYPE HTML>
<html>
    <head>
	<meta charset="UTF-8">
	<title>Login</title>
    </head>
    <body>
	<form action="./login" method="POST">
	    Username: <input type="text" name="username">
	    <br>
	    Password: <input type="password" name="password">
	    <hr>
	    <input type="submit" value="Login!">
	</form>
    </body>
</html>
