<!DOCTYPE HTML>
<html lang="zh">
    <head>
	<meta charset="UTF-8">
	<title>Register</title>
    </head>
    <body>
	<form action="./register" method="POST">
	    Username: <input type="text" name="username" />
	    <br>
	    Password: <input type="password" name="password" />
	    <hr>
	    <input type="submit" value="Register!" />
	</form>
	<% if(typeof errMsg != 'undefined'){ %>
	<script>
	    alert("Error: <%= errMsg %>"); 
	</script>
	<% } %>
    </body>
</html>
